* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgb(168, 202, 232); */
  background-color: #fff;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #3a4452;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
  rgba(0, 0, 0, 0.12) 0px -12px 30px, 
  rgba(0, 0, 0, 0.12) 0px 4px 6px, 
  rgba(0, 0, 0, 0.17) 0px 12px 13px, 
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.calculator form input {
  height: 50px;
  border-radius: 5px;
  outline: 0;
  border: 1px solid gray;
  background-color: rgb(167, 185, 202);
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
  rgba(0, 0, 0, 0.12) 0px -12px 30px, 
  rgba(0, 0, 0, 0.12) 0px 4px 6px, 
  rgba(0, 0, 0, 0.17) 0px 12px 13px, 
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.calculator .signs input {
  color: #1aad92;
  font-weight: bold;
  font-size: 2rem;
}

form .display {
  display: flex;
  width: 245px;
  margin: 5px 5px;
  
}

form .display input {
  width: 100%;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
  align-items: center;
  text-align: right;
  background-color: inherit;
  color: #fff;
  outline: 0;
  border: 0;
}

.signs input {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  margin: 10px 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;

}

.numbers input {
  width: 50px;
  height: 35px;
  border-radius: 5px;
  margin: 10px 5px;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  
}

form .signs .operator {
  color: #1aad92;
  font-weight: 600;
  font-size: 1rem;
  
}

form .numbers .operator {
  color: #1aad92;
  font-weight: 600;
  font-size: 1.5rem;
}

.numbers .equalls {
  color: #1aad92;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: rgb(213, 184, 17);
}


/* button .btn {
  display: flex;
  justify-content: center;
  align-items: center;
} */

form input:hover {
  background-color: lightslategrey;
}

.numbers .equalls {
  width: 115px;
}

/* .box {
  width: 500px;
  height: 700px;
  background-color: black;
  border-radius: 5%;
  box-shadow: rgba(239, 22, 22, 0.603) 0px 2px 4px 0px, rgba(239, 22, 22, 0.803) 0px 2px 16px 0px;
  /* box-shadow: rgba(239, 22, 22, 0.603) 0px 10px 20px, #ffaa0d 0px 6px 6px;
  box-shadow: rgba(239, 22, 22, 0.603) 0px 0px 10px 3px, rgba(239, 22, 22, 0.603) 0px 0px 10px 3px;

  .top-box {
    height: 150px;
    width: 100%;
    background-color: inherit;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    display: flex;
    justify-content: flex-end;
    padding-right: 2rem;
    align-items: center;

    p {
      color: white;
      font-size: 5rem;
      font-family: sans-serif;
      font-weight: 500;
    }
  }

  /* second box 

  .top-box2 {
    background-color: #d8d8d8;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;

    .plus,
    .minus,
    .multiply,
    .divide {
      height: 100%;
      width: 125px;
      border-left: 0.075rem solid gray;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      font-weight: 500;
      font-family: sans-serif;
    }

    .divide {
      border-right: 0.075rem solid gray;
    }
  }

  .numbers {
    width: 100%;
    height: 400px;
    background-color: red;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: row;

    .numbers-chidren {
      width: 375px;
      height: 100%;

      .top-box3,
      .top-box4,
      .top-box5,
      .top-box6 {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
      }

      .top-box3,
      .top-box4,
      .top-box5,
      .top-box6 {
        background-color: #eaeaea;

        .seven,
        .eight,
        .nine,
        .four,
        .five,
        .six,
        .one,
        .two,
        .three,
        .zero,
        .dot,
        .ac {
          width: 125px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: sans-serif;
          font-weight: 500;
          font-size: 3rem;
          border: 0.075rem solid gray;
        }
        
      }

      .top-box6, .zero {
        border-bottom-left-radius: 25px;
      }
    }

    .equalls-sign {
      width: 125px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: sans-serif;
      font-weight: 500;
      font-size: 4rem;
      background-color: #f37b54;
      border-bottom-right-radius: 25px;
    }
  }
} */
